@font-face {
    font-family: 'iran_sans_bold';
    src: url('../Fonts/iran_sans_bold.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_light';
    src: url('../Fonts/iran_sans_light.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_medi';
    src: url('../Fonts/iran_sans_medi.woff') format('woff');
}
:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family:iran_sans_light;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo i{
    color: var(--green);
}
header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}
header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--green);
}
header .icons i,header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}
header .icons #bars{
    display: none;
}
/* end of header  */
section{
    padding: 2rem 9%;
}
section:nth-child(even){
    background: #eee;
}
.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}
.home .home-slider .slide .content{
    flex: 1 1 45rem;
}
.home .home-slider .slide .image{
    flex: 1 1 45rem;
}
.home .home-slider .slide .image img{
    width: 100%;
}
.home .home-slider .slide .content span{
    color: var(--green);
    font-size: 2.5rem;
}
.home .home-slider .slide .content h3{
    color: var(--black);
    font-size: 6rem;
}
.home .home-slider .slide .content p{
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.swiper-pagination-bullet{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 5px;
    font-size: 15px;
    opacity: 1;
    background: rgba(0,0,0,.2);
    color: #fff;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.swiper-pagination-bullet-active{
    color: #fff;
    background: #007aff;
}
/* end of home  */
.heading{
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}
.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    gap: 1.5rem;
}
.dishes .box-container .box{
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    color: #fff;
    background: var(--green);
}
.dishes .box-container .box .fa-heart{
    right: -15rem;
}
.dishes .box-container .box .fa-eye{
    left: -15rem;
}
.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}
.dishes .box-container .box img{
    height: 17rem;
    margin: 1rem 0;
}
.dishes .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}
.dishes .box-container .box .stars{
    padding: 1rem 0;
}
.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--green);
}
.dishes .box-container .box span{
    color: var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}
/* end of dishis  */
.top .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    background: #fff;
    padding: 2rem;
    align-items: center;
    margin: 1.5rem 0;
}
.top .row .content{
    flex: 1 1 40rem;
}
.top .row .image-container{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex: 1 1 50rem;
}
.top .row .image-container .small-image{
    width: 20%;
}
.top .row .image-container .big-image{
    width: 80%;
    padding: 1rem;
}
.top .row .image-container .small-image img{
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0,0,0,.1);
    cursor: pointer;
}
.top .row .image-container .small-image img:hover{
    background: #ccc;
}
.top .row .image-container .big-image img{
    width: 100%;
}
.top .row .image-container .big-image img:hover{
    transform: scale(1.05);
}
.top .row .content h3{
    font-size: 2.5rem;
    color: var(--black);
}
.top .row .content p{
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem 0;
}
.top .row .content .stars i{
    font-size: 1.7rem;
    color: var(--green);
    padding: .5rem 0;
}
.top .row .content .price{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}
.top .row .content .price span{
    font-size: 1.5rem;
    color: var(--green);
    text-decoration: line-through;
}
/* End Of Top  */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}
.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}
.menu .box-container .box .image .fa-heart{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color: var(--black);
}
.menu .box-container .box .image .fa-heart:hover{
    background: var(--green);
    color: #fff;
}
.menu .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}
.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}
.menu .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--green);
}
.menu .box-container .box .content h3{
    color: var(--black);
    font-size: 2.5rem;
}
.menu .box-container .box .content p{
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}
.menu .box-container .box .content .price{
    color: var(--green);
    margin-left: 1rem;
    font-size: 2.5rem;
}

/* End Of menu  */
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
}
.about .row .content h3{
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}
.about .row .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}
.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}
.about .row .content .icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}
.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color: var(--green);
}
.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--black);
}
.copy-right{
    padding: 15px 0;
    text-align: center;
    background: var(--black);
    color: #fff;
    font-size: 1.5rem;
}













/* start responsive  */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    .dishes .box-container .box img{
        height: auto;
        width: 100%;
    }
}
@media (max-width:768px){
    header .icons #bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
    .home .home-slider .slide .image{
        text-align: center;
    }
    .home .home-slider .slide .image img{
        width: 50%;
    }
    .home .home-slider .slide .content span{
        font-size: 2rem;
    }
    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }
    .home .home-slider .slide .content p{
        font-size: 2rem;
    }

}